<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{url_for('static',filename='appicon.ico')}}"/>
    <title>HAR API</title>
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
    </head>
    
    
    <body >
        <p><a href="https://github.com/Ashishkumaraswamy/HAR-backend">
            <img class="login-dark" src="/static/website.jpg" >
        </a></p>
    </body>
    
</html>